# =========== normal setting ===========
net_mode: ds_diff  # 修改噢
Task_name: CE_MRI_synthesis  # BraTs_synthesis/CE_MRI_synthesis
Task_id: '0204'
cuda_idx: [0,1]  # 使用全部 3 块 GPU，分散显存
fold_K: 5
fold_idx: 1
vae_local_pretrained: True
config_opt: '/nas_3/LaiRuiBin/Changhai/code/dsfr_diffusion/configs/v2-1-cddpm-ds-disc.yaml'
model_type: unet  # unet or vit
# =========== train setting ===========
train_keys: [ "F_Data1", "F_Data2", "S_Data1", "S_Data2"]
train_batch_size: 1   # 2
val_batch_size: 1  # 16
num_workers: 0  #16  <--- DDP模式下设为0，避免多进程冲突
checkpoint_epoch: 5
dataset_type: normal
sampler_setting:
  sampler: "ddim"
  ddim_use_original_steps: False
  sample_steps: 20
# path
dir_prefix: '/nas_3/LaiRuiBin/Changhai/results/2026_0204'
result_path: '/nas_3/LaiRuiBin/Changhai/results/2026_0204/result'
filepath_img: '/nas_3/LaiRuiBin/Changhai/data/normalization/SSA' #SSA ground truth
h5_2d_img_dir: '/nas_3/LaiRuiBin/Changhai/data/H5_new/SSA'
image_size: 320   #no use
data_name: 'prostate' #BraTs or prostate
include_test: False  # trainset include testset
# =========== optim setting ============
disentangle_distance: eu  # eu or eu&contrast or contrast or null
contrast_lambda: 0.5  #上面是总开关
use_edge: sobel  # sobel or laplacian or canny or False
lr: 1e-4
lr_low: 1e-7
num_epochs: 250
lr_cos_epoch: 250
lr_warm_epoch: 0
val_step: 5
output_ch: 1
seed: 2024
# ============= unusual config ===============
mode: train
beta1: 0.9
beta2: 0.999
augmentation_prob: 0.4


