# =========== normal setting ===========
net_mode: ds_diff  # 记得修改噢
Task_name: BraTs_synthesis  # BraTs_synthesis/CE_MRI_synthesis
Task_id: 60
cuda_idx: [0]
fold_K: 5
fold_idx: 1
vae_local_pretrained: False
config_opt: '../configs/v2-1-cddpm-ds-disc.yaml'
model_type: unet  # unet or vit
# =========== train setting ===========
train_keys: [ "t1", "t2", "flair"]
train_batch_size: 16
val_batch_size: 32
num_workers: 16
checkpoint_epoch: 5
dataset_type: normal
sampler_setting:
  sampler: "ddim"
  ddim_use_original_steps: False
  sample_steps: 20
# path
dir_prefix:
result_path:
filepath_img:
h5_2d_img_dir:
image_size: 192   #no use
data_name: 'BraTs' #BraTs or prostate
include_test: True  # trainset include testset
# =========== optim setting ============
disentangle_distance: eu # eu or eu&contrast or contrast or null
contrast_lambda: 0.5 #上面是总开关
use_edge: False  # sobel or laplacian or canny or False
lr: 1e-4
lr_low: 1e-7
num_epochs: 200
lr_cos_epoch: 200
lr_warm_epoch: 0
val_step: 5
output_ch: 1
seed: 2024
# ============= unusual config ===============
mode: train
beta1: 0.9
beta2: 0.999
augmentation_prob: 0.4


